* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#main_main {
    position: relative;
}

:root {
    --yellow-light: rgb(255,203,2);
    --yellow-dark: rgb(201,163,2);
    --blue-light: rgb(49,100,176);
    --blue-dark: rgb(25,61,119);
    --red: rgb(239,70,59);
    --red-dark: rgb(201, 60, 50);
    --gray: rgb(93,93,95);
}

#red_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    border-radius: 50px 50px 0 0;
    background-color: var(--red);
    width: 369px;
    height: 425px;
    padding-top: 10px;
    border-bottom: 3px solid var(--gray);
    z-index: 1;
}
h1 {
    margin-bottom: 25px;
    background-color: var(--blue-light);
    padding: 5px 30px;
    border-radius: 10px;
    border: 2px solid white;
    color: var(--yellow-light);
    text-shadow: var(--blue-dark) 1px 1px;
    box-shadow: var(--blue-dark) 0px 2px 1px;
}
#header_container {
    display: flex;
    position: absolute;
}
#white_header0 {
    background-color: white;
    width: 49px;
    height: 53px;
    z-index: 8;
}
#white_header {
    background-color: white;
    width: 276px;
    height: 53px;
    z-index: 3;
    border-bottom: 3px solid black;
}
#white_header1 {
    background-color: white;
    width: 50px;
    height: 53px;
    z-index: 8;
}
#main {
    height: 600px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    background-color: rgb(50,50,50);
    border-radius: 50px;
    border: 3px solid black;
    position: absolute;
    top: 50px;
    color: white;
}
#listing {
    margin-top: 70px;
    width: 250px;
    height: 330px;
    overflow-y: scroll;
}
#listing li {
    color: white;
    font-size: 16px;
}

#top_corner_left {
    width: 50px;
    height: 50px;
    background-color: var(--red);
    position: absolute;
    left:-3px;
    top: -3px;
    z-index: 10;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-radius: 50px 0 0 0 ;
}
#top_corner_left_bg {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    left:-3px;
    top: -3px;
    z-index: 9;
}

#top_corner_right {
    width: 50px;
    height: 50px;
    background-color: var(--red);
    position: absolute;
    right:-3px;
    top: -3px;
    z-index: 10;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-radius: 0 50px 0 0 ;
}
#top_corner_right_bg {
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right:-3px;
    top: -3px;
    z-index: 9;
}


.open {
    transform: translate(0px, -370px); 
    transition-duration: 500ms;     
}
.close {
    transform: translate(0px, -0px); 
    transition-duration: 500ms;
}

ul {
    list-style: none;
}
.number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 20px;
}
.number div {
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid var(--gray);
}

ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
ul button {
    width: 50px;
    height: 50px;
    flex-grow: 1;
    margin: 0px 3px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    color: var(--gray);
}
button#x {
    background-color: var(--red);
    color: white;
    text-shadow: var(--red-dark) 0px 2px 0px;
}
button#v {
    background-color: var(--blue-light);
    color: white;
    text-shadow: var(--blue-dark) 0px 2px 0px;
}

.keyboard {
    width: 250px;
}

.maru_btn {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 145px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid var(--gray);
    padding: 9px;
    z-index:2;
}
.maru_btn div {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid var(--gray);
    z-index:2;
}

.maru_btn:hover {
    cursor: pointer;
}

.black_part {
    background-color: black;
    width: 370px;
    height: 10px;
    position: absolute;
    bottom: 160px;
    margin-top: 10px;
}

#result_container {
    position: absolute;
    bottom: -3px;
    left:-3px;
    text-align: center;
    width: 101.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 5px;
    border-radius: 0 0 50px 50px;
    border: 3px solid black;
    height: 175px;
}
#result {
    width: 200px;
    border-radius: 5px;
    border: 3px solid black;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.paddingTop {
    padding-top: 5px;
}

.standby {
    background-color: rgb(200,200,200);
}

.motteru {
    background-color: var(--blue-light);
    color: var(--yellow-light);
    text-shadow: var(--blue-dark) 1px 1px 0px;
}
.mottenai {
    background-color: var(--red);
    color: white;
}

.pokename {
    font-size: 18px;
}